* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* Utilities */
.container {
  max-width: 1098px;
  margin: 0 auto;
}

a {
  text-transform: uppercase;
  display: inline-block;
}

h1, h2, h4, h5 {
  font-family: "DM Serif Display";
  font-weight: 400;
}

.text-light {
  color: #837d87;
}

.text-dark {
  color: #2b272f;
}

.bg-light {
  background: #fafafa;
  color: #837d87;
}

.bg-dark {
  background: #2d2640;
  color: #fafafa;
}

.btn {
  display: inline-block;
  border: 1px solid #2b272f;
  background: none;
  color: #2b272f;
  padding: 13px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #2b272f;
  color: #fff;
}

.btn-dark {
  background: none;
  color: #fff;
  padding: 13px 20px;
  border: 2px solid #fff;
  cursor: pointer;
}

.btn-dark:hover {
  background: #fff;
  color: #2b272f;
}

body {
  font-family: "Karla";
  background-color: #fff;
  font-size: 16px;
  /***** HEADER *****/
  /***** INTRO *****/
  /***** MAIN *****/
  /***** ABOUT *****/
  /***** FOOTER *****/
}

body #navbar {
  height: 80px;
}

body #navbar .logo {
  line-height: 80px;
}

body #navbar #check {
  display: none;
}

body #navbar .checkbtn {
  float: right;
  line-height: 80px;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

body #navbar .checkbtn i {
  border: 1px solid #2b272f;
  padding: 5px;
  color: #2b272f;
}

body #navbar ul {
  float: right;
}

body #navbar ul li {
  display: inline-block;
  margin: 18px 0;
}

body #navbar ul li a {
  color: #837d87;
  padding: 10px 25px;
  font-weight: 600;
}

body #navbar ul li a:hover {
  color: #2b272f;
  -webkit-transition: .4s;
  transition: .4s;
}

body #navbar .last-item {
  border: 2px solid #2b272f;
  color: #2b272f;
}

body #navbar .last-item:hover {
  background: #2b272f;
  color: #fff;
}

body .mobile-img {
  display: none;
}

body #intro {
  height: 600px;
  background-position: top left;
  background-repeat: no-repeat;
}

body #intro .intro-wrapper {
  position: relative;
}

body #intro .intro-wrapper .info-container {
  width: 50%;
  height: 100%;
  position: relative;
}

body #intro .intro-wrapper .info-container::after {
  content: '';
  display: block;
  position: absolute;
  width: 147px;
  top: 100px;
  left: 0px;
  border: 1px solid white;
}

body #intro .intro-wrapper .info-container h1 {
  font-size: 4.85rem;
  padding-top: 165px;
  letter-spacing: -1px;
  line-height: 0.96;
}

body #intro .intro-wrapper .info-container p {
  font-size: 1rem;
  padding-top: 25px;
  line-height: 25px;
  letter-spacing: 1px;
}

body #intro .intro-wrapper .info-container a {
  margin-top: 30px;
  padding: 10px 33px;
  font-weight: 600;
}

body #intro .intro-wrapper .img-container {
  width: 100%;
}

body #intro .intro-wrapper .img-container img {
  width: 100%;
  max-width: 50%;
  position: absolute;
  right: 0;
  top: 104px;
  overflow: auto;
}

body #main {
  margin: 308px 0 134px;
}

body #main .main-wrapper {
  position: relative;
}

body #main .main-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  width: 147px;
  top: -5px;
  left: 0px;
  border: 1px solid #95a9c6;
}

body #main .main-wrapper h2 {
  position: relative;
  font-size: 5rem;
  padding-top: 57px;
}

body #main .main-wrapper .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 93px;
}

body #main .main-wrapper .features .feature {
  margin-right: 67px;
}

body #main .main-wrapper .features .feature h4 {
  font-size: 2.019rem;
  font-weight: 600;
  padding-top: 33px;
  letter-spacing: -2.55px;
}

body #main .main-wrapper .features .feature p {
  color: #837d87;
  padding-top: 23px;
  line-height: 25px;
  letter-spacing: 1px;
}

body #about {
  background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
}

body #about h2 {
  font-size: 4rem;
  padding-left: 80px;
}

body #about a {
  margin-right: 40px;
}

body #footer {
  margin-top: 150px;
  background-image: url("../images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-position: top left;
}

body #footer .social-wrapper {
  border-bottom: 1px solid #95a9c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

body #footer .social-wrapper svg {
  margin-top: 30px;
}

body #footer .social-wrapper .social-icons {
  width: 131px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3px;
}

body #footer .social-wrapper .social-icons:hover {
  fill: #2b272f;
}

body #footer #footer-navbar {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 26px;
}

body #footer #footer-navbar .column h5 {
  text-transform: uppercase;
  color: #95a9c6;
  padding: 22px 0;
}

body #footer #footer-navbar .column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body #footer #footer-navbar .column ul li {
  padding: 8px 0;
}

body #footer #footer-navbar .column ul li a {
  color: #2b272f;
  font-weight: 500;
}

body #footer #footer-navbar .column ul li a:hover {
  text-decoration: underline;
}

body #footer .attribution {
  margin-top: 30px;
  text-align: center;
}

body #footer .attribution a {
  color: #95a9c6;
  text-transform: capitalize;
}

/* For devices with width of 480px and less, like phones */
/* For devices with width between 481px and 768px, like larger phones and portrait tablets */
/* For devices with width between 769px and 1279px, like landscape tablets and laptops */
/* For devices with width of 1280px and more, like desktop computers */
@media screen and (max-width: 599px) {
  #navbar .logo {
    padding-left: 3.5%;
  }
  #navbar .checkbtn {
    display: block;
    padding-right: 3.5%;
  }
  #navbar #check:checked ~ ul {
    left: 0;
  }
  #navbar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2d2640;
    background-image: url("../images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  #navbar ul li {
    display: block;
    line-height: 30px;
    margin: 30px 0;
  }
  #navbar ul li a {
    font-size: 20px;
    color: #fff;
  }
  #navbar ul li a:hover {
    background: none;
    color: #837d87;
  }
  #navbar .last-item {
    border: 2px solid #fafafa;
    color: #fff;
    padding: 10px 115px;
  }
  #navbar .last-item:hover {
    background: none;
    color: #837d87;
  }
}
/*# sourceMappingURL=style.css.map */