* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* Utilities */
.container {
  max-width: 1098px;
  margin: 0 auto;
}

a {
  text-transform: uppercase;
}

.text-light {
  color: #837d87;
}

.text-dark {
  color: #2b272f;
}

.bg-light {
  background: #fafafa;
  color: #837d87;
}

.bg-dark {
  background: #2d2640;
  color: #fafafa;
}

.btn {
  display: inline-block;
  border: 1px solid #2b272f;
  background: none;
  color: #2b272f;
  padding: 13px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #2b272f;
  color: #fff;
}

.btn-dark {
  background: none;
  color: #fff;
  padding: 13px 20px;
  border: 1px solid #fff;
  cursor: pointer;
}

.btn-dark:hover {
  background: #fff;
  color: #2b272f;
}

body {
  font-family: "Karla";
  background-color: #fff;
  font-size: 16px;
  /***** HEADER *****/
  /***** INTRO *****/
}

body #navbar {
  height: 80px;
}

body #navbar .logo {
  line-height: 80px;
}

body #navbar #check {
  display: none;
}

body #navbar .checkbtn {
  float: right;
  line-height: 80px;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

body #navbar .checkbtn i {
  border: 1px solid #2b272f;
  padding: 5px;
  color: #2b272f;
}

body #navbar ul {
  float: right;
}

body #navbar ul li {
  display: inline-block;
  margin: 33px 5px 0;
}

body #navbar ul li a {
  color: #837d87;
  padding: 7px 13px;
  font-weight: 500;
}

body #navbar ul li a:hover {
  color: #2b272f;
  -webkit-transition: .5s;
  transition: .5s;
}

body #navbar .last-item {
  border: 2px solid #2b272f;
  color: #2b272f;
}

body #navbar .last-item:hover {
  background: #2b272f;
  color: #fff;
}

body .mobile-img {
  display: none;
}

body #intro {
  height: 600px;
  background-position: top left;
  background-repeat: no-repeat;
}

body #intro .intro-wrapper {
  position: relative;
}

body #intro .intro-wrapper .info-container {
  width: 50%;
  height: 100%;
  position: relative;
}

body #intro .intro-wrapper .info-container::after {
  content: '';
  display: block;
  position: absolute;
  width: 147px;
  top: 100px;
  left: 0px;
  border: 1px solid white;
}

body #intro .intro-wrapper .info-container h1 {
  text-align: center;
  font-size: 5.143rem;
  padding-top: 160px;
  letter-spacing: -1px;
  line-height: 0.96;
  font-weight: 400;
}

body #intro .intro-wrapper .info-container p {
  font-size: 1rem;
  padding-top: 25px;
  line-height: 25px;
  letter-spacing: 1px;
}

body #intro .intro-wrapper .img-container {
  width: 100%;
}

body #intro .intro-wrapper .img-container img {
  width: 100%;
  max-width: 50%;
  position: absolute;
  right: 0;
  top: 104px;
  overflow: auto;
}

/* For devices with width of 480px and less, like phones */
/* For devices with width between 481px and 768px, like larger phones and portrait tablets */
/* For devices with width between 769px and 1279px, like landscape tablets and laptops */
/* For devices with width of 1280px and more, like desktop computers */
/******* Footer *******/
@media screen and (max-width: 599px) {
  #navbar .logo {
    padding-left: 3.5%;
  }
  #navbar .checkbtn {
    display: block;
    padding-right: 3.5%;
  }
  #navbar #check:checked ~ ul {
    left: 0;
  }
  #navbar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2d2640;
    background-image: url("../images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  #navbar ul li {
    display: block;
    line-height: 30px;
    margin: 30px 0;
  }
  #navbar ul li a {
    font-size: 20px;
    color: #fff;
  }
  #navbar ul li a:hover {
    background: none;
    color: #837d87;
  }
  #navbar .last-item {
    border: 2px solid #fafafa;
    color: #fff;
    padding: 10px 115px;
  }
  #navbar .last-item:hover {
    background: none;
    color: #837d87;
  }
}
/*# sourceMappingURL=style.css.map */